{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col col-lg-6">
        <h3>Edit</h3>
        {% if item.room == "01.29a" or item.room == "01.09" %}
        <h4>Occular Health Assesment</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="student">Student</label>
                <select name="student" id="student" class="form-control">
                    <option value="{{item.student.pk}}">{{item.student.name}} {{item.student.surname}}: {{item.student.student_nr}}</option>
                    
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="room">Room</label>
                <select name="room" id="room" class="form-control">
                    <option value="{{item.room}}">{{item.room}}</option>
                    <option value="01.29a">01.29a</option>
                    <option value="01.09">01.09</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="volk">Volk Lens</label>
                <select name="volk" id="volk" class="form-control">
                    <option value="{{item.volk}}">{{item.volk}}</option>
                    <option value="OPTOM370">OPTOM370</option>
                    <option value="OPTOM374">OPTOM374</option>
                    <option value="OPTOM377">OPTOM377</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="ophth">Ophthalmoscope</label>
                <select name="ophth" id="ophth" class="form-control">
                    <option value="{{item.ophthalmoscope}}">{{item.ophthalmoscope}}</option>
                    <option value="OPTOM9">OPTOM9</option>
                    <option value="OPTOM20">OPTOM20</option>
                    <option value="OPTOM38">OPTOM38</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label name="anteye" for="anteye">Anterior Eye</label>
                <select name="anteye" id="anteye" class="form-control">
                    <option value="{{item.ant_eye}}">{{item.ant_eye}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="posteye">Posterior Eye</label>
                <select name="posteye" id="posteye" class="form-control">
                    <option value="{{item.post_eye}}">{{item.post_eye}}</option>
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="focusrod">Focusing Rod</label>
                <select name="focusrod" id="focusrod" class="form-control">
                    <option value="{{item.focusrod}}">{{item.focusrod}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            {% if item.stand == True %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" id="stand" name="stand" checked>
                <label class="form-check-label" for="stand">
                    Stand
                </label>
            </div>
            {% else %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" id="stand" name="stand">
                <label class="form-check-label" for="stand">
                    Stand
                </label>
            </div>
            {% endif %}
            {% if item.recording_eq %}
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="True" id="recording" name="recording" checked>
                <label class="form-check-label" for="recording">
                    Recording Equipment
                </label>
            </div>
            {% else %}
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="True" id="recording" name="recording">
                <label class="form-check-label" for="recording">
                    Recording Equipment
                </label>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary mt-3 ms-2">Submit</button>
            <a class="btn btn-primary mt-3 ms-5" href="{% url 'loan' %}">Back</a>
        </form>
        {% else %}
        <h4>Refraction Equipment</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="student">Student</label>
                <select name="student" id="student" class="form-control">
                    <option value="{{item.student.pk}}">{{item.student.name}} {{item.student.surname}}: {{item.student.student_nr}}</option>
                    
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="room">Room</label>
                <select name="room" id="room" class="form-control">
                    <option value="{{item.room}}">{{item.room}}</option>
                    <option value="01.33">01.33</option>
                    <option value="01.12">01.12</option>
                    <option value="01.08">01.08</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="ret">Retinoscope</label>
                <select name="ret" id="ret" class="form-control">
                    <option value="{{item.ret}}">{{item.ret}}</option>
                    <option value="OPTOM11">OPTOM11</option>
                    <option value="OPTOM2">OPTOM2</option>
                    <option value="OPTOM5">OPTOM5</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="refbox">Refration Box</label>
                <select name="refbox" id="refbox" class="form-control">
                    <option value="{{item.ref_box}}">{{item.ref_box}}</option>
                    <option value="Green 4">Green 4</option>
                    <option value="Blue 8">Blue 8</option>
                    <option value="Red 10">Red 10</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="modeleye">Model Eye</label>
                <select name="modeleye" id="modeleye" class="form-control">
                    <option value="{{item.model_eye}}">{{item.model_eye}}</option>
                    <option value="56">56</option>
                    <option value="64">64</option>
                    <option value="67">67</option>
                </select>
            </div>
            {% if item.budgy_stick %}
            <div class="form-check  mb-3">
                <input class="form-check-input" type="checkbox" value="True" id="budgy" name="budgy" checked>
                <label class="form-check-label" for="budgy">
                    Budgy Stick
                </label>
            </div>
            {% else %}
            <div class="form-check  mb-3">
                <input class="form-check-input" type="checkbox" value="True" id="budgy" name="budgy">
                <label class="form-check-label" for="budgy">
                    Budgy Stick
                </label>
            </div>
            {% endif %}

            {% if item.pd_ruler %}
            <div class="form-check  mb-3">
                <input class="form-check-input" type="checkbox" value="True" id="pdruler" name="pdruler" checked>
                <label class="form-check-label" for="pdruler">
                    PD Ruler
                </label>
            </div>
            {% else %}
            <div class="form-check  mb-3">
                <input class="form-check-input" type="checkbox" value="True" id="pdruler" name="pdruler">
                <label class="form-check-label" for="pdruler">
                    PD Ruler
                </label>
            </div>
            {% endif %}

            {% if item.occluder %}
            <div class="form-check  mb-3">
                <input class="form-check-input" type="checkbox" value="True" id="occluder" name="occluder" checked>
                <label class="form-check-label" for="occluder">
                    Occluder
                </label>
            </div>
            {% else %}
            <div class="form-check  mb-3">
                <input class="form-check-input" type="checkbox" value="True" id="occluder" name="occluder">
                <label class="form-check-label" for="occluder">
                    Occluder
                </label>
            </div>
            {% endif %}
            {% if item.recording_eq %}
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="True" id="recording" name="recording" checked>
                <label class="form-check-label" for="recording">
                    Recording Equipment
                </label>
            </div>
            {% else %}
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="True" id="recording" name="recording">
                <label class="form-check-label" for="recording">
                    Recording Equipment
                </label>
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary mt-3 ms-2">Submit</button>
            <a class="btn btn-primary mt-3 ms-5" href="{% url 'loan' %}">Back</a>
        </form>
        {% endif %}
    </div>
</div>
<a class="btn btn-success mt-3" href="{% url 'list' %}">Back</a>
{% endblock %}