{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col col-lg-6">

        <h4>Occular Health Assesment</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="student">Student</label>
                <select name="student" id="student" class="form-control">
                    {% for student in students %}
                    <option value="{{student.pk}}">
                        {{student.name}} {{student.surname}}: {{student.student_nr}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="room">Room</label>
                <select name="room" id="room" class="form-control">
                    <option value="01.29a">01.29a</option>
                    <option value="01.09">01.09</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="volk">Volk Lens</label>
                <select name="volk" id="volk" class="form-control">
                    <option value="None">Choose an Option</option>
                    <option value="OPTOM373">OPTOM373</option>
                    <option value="OPTOM395">OPTOM395</option>
                    <option value="OPTOM368">OPTOM368</option>
                    <option value="OPTOM384">OPTOM384</option>
                    <option value="OPTOM369">OPTOM369</option>
                    <option value="OPTOM388">OPTOM388</option>
                    <option value="OPTOM370">OPTOM370</option>
                    <option value="OPTOM380">OPTOM380</option>
                    <option value="OPTOM127">OPTOM127</option>
                    <option value="OPTOM382">OPTOM382</option>
                    <option value="OPTOM377">OPTOM377</option>
                    <option value="OPTOM374">OPTOM374</option>
                    <option value="OPTOM386">OPTOM386</option>
                    <option value="OPTOM379">OPTOM379</option>
                    <option value="OPTOM372">OPTOM372</option>
                    <option value="OPTOM392">OPTOM392</option>
                    <option value="OPTOM391">OPTOM391</option>
                    <option value="OPTOM399">OPTOM399</option>
                    <option value="OPTOM365">OPTOM365</option>
                    <option value="OPTOM366">OPTOM366</option>
                    <option value="OPTOM385">OPTOM385</option>
                    <option value="OPTOM390">OPTOM390</option>
                    <option value="OPTOM383">OPTOM383</option>
                    <option value="OPTOM367">OPTOM367</option>
                    <option value="OPTOM381">OPTOM381</option>
                    <option value="OPTOM371">OPTOM371</option>
                    <option value="OPTOM387">OPTOM387</option>
                    <option value="OPTOM396">OPTOM396</option>
                    <option value="OPTOM376">OPTOM376</option>
                    <option value="OPTOM398">OPTOM398</option>
                    <option value="OPTOM375">OPTOM375</option>
                    <option value="OPTOM389">OPTOM389</option>
                    <option value="OPTOM397">OPTOM397</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="ophth">Ophthalmoscope</label>
                <select name="ophth" id="ophth" class="form-control">
                    <option value="None">Choose an Option</option>
                    <option value="OPTOM9">OPTOM9</option>
                    <option value="OPTOM20">OPTOM20</option>
                    <option value="OPTOM38">OPTOM38</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label name="anteye" for="anteye">Anterior Eye</label>
                <select name="anteye" id="anteye" class="form-control">
                    <option value="None">Choose an Option</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="posteye">Posterior Eye</label>
                <select name="posteye" id="posteye" class="form-control">
                    <option value="None">Choose an Option</option>
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="4" >4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6i">6i</option>
                    <option value="7">7</option>
                    <option value="9">9</option>
                    <option value="Grid">Grid</option>
                    <option value="1001">1001</option>
                    <option value="1982">1982</option>
                    <option value="9190">9190</option>
                    <option value="1575">1575</option>
                    <option value="0841">0841</option>
                    <option value="7890">7890</option>
                    <option value="0123">0123</option>
                    <option value="0044">30044</option>
                    <option value="0200">0200</option>
                    <option value="1054">1054</option>
                    <option value="0301">0301</option>
                    <option value="0309">0309</option>
                    <option value="0327">0327 </option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="focusrod">Focusing Rod</label>
                <select name="focusrod" id="focusrod" class="form-control">
                    <option value="None">Choose an Option</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="3">3</option>

                </select>
            </div>
            <div class="form-group mb-3">
                <label for="recording">Recording Equipment</label>
                <select name="recording" id="recording" class="form-control">
                    <option value="None">Choose an option</option>
                    <option value="300">300</option>
                    <option value="200">200</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="True" id="stand" name="stand">
                <label class="form-check-label" for="stand">
                    Stand
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-3 ms-2">Submit</button>
            <a class="btn btn-primary mt-3 ms-5" href="{% url 'loan' %}">Back</a>
        </form>
    </div>
</div>

{% endblock %}