{% extends 'base.html' %}
{% block content %}
<h1>List</h1>
    <div class="row">
        <div class="col-lg-6">
          <form action="{% url 'list_display' %}" method="GET" class="form-control">
            {% csrf_token %}
          <div class="form-group mb-3">
            <label for="room">Room</label>
            <select name="room" id="room" class="form-control">
                <option value="01.33">01.33</option>
                <option value="01.29a">01.29a</option>
                <option value="01.12">01.12</option>
                <option value="01.08">01.08</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        </div>
    </div>

{% endblock %}