{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="row justify-content-center mt-5">
    <div class="col justify-content-center d-grid" >
     <h3>Room {{room}}</h3>
      <ul class="list-group">
        {% if list|length == 0 %}
          <h5 class="mt-5">There are no Booking for this room</h5>
          
        {% else %}
        {% for item in list %}
        <li class="list-group-item">
          <strong>Name:</strong> {{item.student.name}} {{item.student.surname}},
          <strong>Equipment:</strong> {{item.equipment}},
          <strong>Time:</strong> {{item.time_taken}},
          <strong>Room:</strong> {{item.room}}
          <a class="btn btn-success me-3" href="{% url 'returns' item.pk %}">
          
            Return
          </a>
          <a class="btn btn-danger me-3" href="{% url 'edit' item.pk %}">Edit</a>
        </li>
        
        {% endfor %}
        {% endif %}
      </ul>
      
    </div>
  </div>
  <a class="btn btn-primary mt-5" href="{% url 'list' %}">Back</a>
{% endblock %}